<h1>Listing git_data</h1>

<table>
  <tr>
    <th>User</th>
    <th>Repo</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @git_data.each do |git_datum| %>
  <tr>
    <td><%= git_datum.user %></td>
    <td><%= git_datum.repo %></td>
    <td><%= git_datum.time %></td>
    <td><%= link_to 'Show', git_datum %></td>
    <td><%= link_to 'Edit', edit_git_datum_path(git_datum) %></td>
    <td><%= link_to 'Destroy', git_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Git datum', new_git_datum_path %>
