<h1>Listing buddy_data</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Idea</th>
    <th>Skills</th>
    <th>Isidea</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buddy_data.each do |buddy_datum| %>
  <tr>
    <td><%= buddy_datum.name %></td>
    <td><%= buddy_datum.idea %></td>
    <td><%= buddy_datum.skills %></td>
    <td><%= buddy_datum.isIdea %></td>
    <td><%= link_to 'Show', buddy_datum %></td>
    <td><%= link_to 'Edit', edit_buddy_datum_path(buddy_datum) %></td>
    <td><%= link_to 'Destroy', buddy_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buddy datum', new_buddy_datum_path %>
