= form_for(@hackathon, :remote => true, :html => { :style => 'margin-bottom:0px;' }) do |f|
  .modal-body.no-margin
    .field
      = f.label :name
      = f.text_field :name
    .field
      <label for="hackathon_desc">Short Description</label>
      = f.text_field :desc
    .field
      = f.label :start
      = f.text_field :start
    .field
      = f.label :end
      = f.text_field :end
    .field
      = f.label :location
      = f.text_field :location
    .field
      <label for="hackathon_scheduleItems">Scheduled Items (ID's)</label>
      = f.text_field :scheduleItems
  .modal-footer
    %button.btn{:'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Cancel
    = f.button :Submit, :class => 'btn btn-primary'
