%table.table.table-hover.table-striped.table-bordered{:style => 'width:100%'}
  %tbody#hackathon_list
    %tr
      %th Name
      %th Location
      %th Start Time
      %th Attendees
    - @user = User.find_by_username(params[:username])
    - @user.hackathons.each do |hack|
      %tr.minor{:'hack-id' => hack.id}
        %td.hackathon-name
          = hack.name
        %td.hackathon-location
          = hack.location
        %td.hackathon-start_date
          %b 
            = hack.start.split(' ')[1]
          = ' on ' + hack.start.split(' ')[0]
        %td.hackathon-attendees
          = "#{hack.users.where(:signed_up => true).size}/#{hack.users.size} signed up"
          