<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hackathon.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @hackathon.desc %>
</p>

<p>
  <b>Start:</b>
  <%= @hackathon.start %>
</p>

<p>
  <b>End:</b>
  <%= @hackathon.end %>
</p>

<p>
  <b>Location:</b>
  <%= @hackathon.location %>
</p>

<p>
  <b>Scheduleitems:</b>
  <%= @hackathon.scheduleItems %>
</p>


<%= link_to 'Edit', edit_hackathon_path(@hackathon) %> |
<%= link_to 'Back', hackathons_path %>
