<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @schedule_item.name %>
</p>

<p>
  <b>Iconurl:</b>
  <%= @schedule_item.iconUrl %>
</p>

<p>
  <b>Time:</b>
  <%= @schedule_item.time %>
</p>

<p>
  <b>Ismajor:</b>
  <%= @schedule_item.isMajor %>
</p>


<%= link_to 'Edit', edit_schedule_item_path(@schedule_item) %> |
<%= link_to 'Back', schedule_items_path %>
